<!DOCTYPE html>
<html>
  <head>
    <title>submit form</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/signin" method="post">
    
      <label>User Name :</label><input type="text" name="Username"><br><br>
      <label>email :</label><input type="email" name="email"><br><br>
      <label>Password :<input type="password" name="password"></label><br><br>
      <input type="password" placeholder="confirmpassword" name="compassword">
      <button type="submit">submit</button>
    </form>

   
  </body>
</html>
